# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

# Node/Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Env
.env
backend/.env

# Mac
.DS_Store


# Frontend prototype (local only)
frontend-base/
